<p id="notice"><%= notice %></p>

<div id="gallery">
  <% @images.each do |image| %>
    <%= link_to image_tag(image.asset.url(:small), alt: image.title), image.asset.url(:large) %>
  <% end %>
</div>
